body
	{
		color: #fff;
		font-family: "Segoe UI";
		margin: 0%;
		padding: 0%;
	}

a
	{
		text-decoration: none;
		color: #fff;
	}

.container
	{
		display: inline-flex;
		justify-content: center;
		width: 90vw;
		height: 100vh;
		/*background-color: #121212;*/
		background: url('space24.jpg');
		background-position: fixed;
		overflow-y: scroll;
		float: right;
	}

#sidebar
	{
		display: inline-flex;
		position: fixed;
		width: 10vw;
		height: 100vh;
		background-color: #242526;
		/*border: 1px solid red;*/
	}

#central
	{
		width: 90%;
		height: 100%;
		margin-top: 5vh;
		/*border: 1px solid green;*/
	}

/*span
	{
		width: 100%;
		margin-bottom: 1%;
		display: block;
	}*/

#central > div
	{
		justify-content: center;
		text-align: center;
		height: 50%;
		/*border: 1px solid blue;*/
	}

img
	{
		width: 40vw;
		height: 40vh;
	}